In [1]:
import pandas as pd
import time
from datetime import datetime
from flux_query import build_flux_query
from flux_query import dataframe

In [2]:
from influxdb_client import InfluxDBClient, Point
from influxdb_client.client.write_api import SYNCHRONOUS
bucket = "04abb7992a07e000"
client = InfluxDBClient(url="http://localhost:9999", token="SVwyqngOyVUM7Ar0DB6nU2rA0il010F1r7wck1a24XF0JDfq15W1Xgz7FTAN3IQk8PkQH9KRoVkVg4hSxT1fIQ==", org="Org")
query_api = client.query_api()
write_api = client.write_api(write_options=SYNCHRONOUS)

In [7]:
query = build_flux_query(bucket="pandas ",start="-10d",stop="-1h",filters=[("_measurement",["activity"]),("location",["eur","us"])])
query

'from(bucket: "pandas ")\n|> range(start:-10d, stop:-1h)\n|> filter(fn: (r) => r._measurement == "activity")\n|> filter(fn: (r) => r.location == "eur" or r.location == "us")'

In [15]:
result = client.query_api().query(org="Org", query=query)
for table in result:
    for record in table.records:
        print(record)

FluxRecord() table: 0, {'result': '_result', 'table': 0, '_start': datetime.datetime(2019, 10, 20, 18, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 30, 17, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 6.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'us', 'type': 'ballet'}
FluxRecord() table: 1, {'result': '_result', 'table': 1, '_start': datetime.datetime(2019, 10, 20, 18, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 30, 17, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 8.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'eur', 'type': 'tennis'}
FluxRecord() table: 2, {'result': '_result', 'table': 2, '_start': datetime.datetime(2019, 10, 20, 18, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 30, 17, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 9.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'eur', 'type': 'soccer'}
FluxRecord() table: 3, {'result': '_result', 'table': 3, '_start': datetime.datetime(2019, 10, 20, 18, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 30, 17, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 17, 51, 22, 76670, tzinfo=datetime.timezone.utc), '_value': 1.0, '_field': 'fun', '_measurement': 'activity', 'location': 'us', 'type': 'tag'}
FluxRecord() table: 4, {'result': '_result', 'table': 4, '_start': datetime.datetime(2019, 10, 20, 18, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 30, 17, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 17, 51, 22, 76670, tzinfo=datetime.timezone.utc), '_value': 2.0, '_field': 'fun', '_measurement': 'activity', 'location': 'eur', 'type': 'swimming'}
FluxRecord() table: 5, {'result': '_result', 'table': 5, '_start': datetime.datetime(2019, 10, 20, 18, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 30, 17, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 5.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'us', 'type': 'tennis'}
FluxRecord() table: 6, {'result': '_result', 'table': 6, '_start': datetime.datetime(2019, 10, 20, 18, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 30, 17, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 6.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'us', 'type': 'soccer'}
FluxRecord() table: 7, {'result': '_result', 'table': 7, '_start': datetime.datetime(2019, 10, 20, 18, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 30, 17, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 17, 51, 22, 76670, tzinfo=datetime.timezone.utc), '_value': 2.0, '_field': 'fun', '_measurement': 'activity', 'location': 'eur', 'type': 'tag'}
FluxRecord() table: 8, {'result': '_result', 'table': 8, '_start': datetime.datetime(2019, 10, 20, 18, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 30, 17, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 7.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'us', 'type': 'football'}
FluxRecord() table: 9, {'result': '_result', 'table': 9, '_start': datetime.datetime(2019, 10, 20, 18, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 30, 17, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 17, 51, 22, 76670, tzinfo=datetime.timezone.utc), '_value': 1.0, '_field': 'fun', '_measurement': 'activity', 'location': 'us', 'type': 'swimming'}
FluxRecord() table: 10, {'result': '_result', 'table': 10, '_start': datetime.datetime(2019, 10, 20, 18, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 30, 17, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 3.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'eur', 'type': 'football'}
FluxRecord() table: 11, {'result': '_result', 'table': 11, '_start': datetime.datetime(2019, 10, 20, 18, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 30, 17, 14, 33, 660032, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 5.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'eur', 'type': 'ballet'}

In [8]:
test=dataframe(client,'ns',query,"Org",["type","location"])
test.head()

  measurement   tag_key tag_value      field  value                   datetime
0    activity      type    ballet  fun_level    6.0 2019-10-24 18:10:17.529757
1    activity  location        us  fun_level    6.0 2019-10-24 18:10:17.529757
2    activity      type    tennis  fun_level    8.0 2019-10-24 18:10:17.529757
3    activity  location       eur  fun_level    8.0 2019-10-24 18:10:17.529757
4    activity      type    soccer  fun_level    9.0 2019-10-24 18:10:17.529757

In [5]:
def lp(df,measurement,tag_key,tag_value,field,value,datetime):
    lines= [str(df[measurement][d]) + "," 
            + str(df[tag_key][d]) + "=" + str(df[tag_value][d]) 
            + " " + str(df[field][d]) + "=" + str(df[value][d]) + "," 
            + " " + str(int(time.mktime(df[datetime][d].timetuple()))) + "000000000" for d in range(len(df))]
    return lines

In [6]:
lp(test,"measurement","tag_key","tag_value","field","value","datetime")

['activity,type=ballet fun_level=6.0, 1571958617000000000',
 'activity,location=us fun_level=6.0, 1571958617000000000',
 'activity,type=tennis fun_level=8.0, 1571958617000000000',
 'activity,location=eur fun_level=8.0, 1571958617000000000',
 'activity,type=soccer fun_level=9.0, 1571958617000000000',
 'activity,location=eur fun_level=9.0, 1571958617000000000',
 'weather,type=None temperature=81.0, 1571957482000000000',
 'weather,location=us-eastt temperature=81.0, 1571957482000000000',
 'weather,type=None temperature=81.0, 1571958617000000000',
 'weather,location=us temperature=81.0, 1571958617000000000',
 'weather,type=None humidity=70.0, 1571958617000000000',
 'weather,location=eur humidity=70.0, 1571958617000000000',
 'weather,type=None humidity=50.0, 1571958617000000000',
 'weather,location=eur humidity=50.0, 1571958617000000000',
 'activity,type=tag fun=1.0, 1571957482000000000',
 'activity,location=us fun=1.0, 1571957482000000000',
 'activity,type=swimming fun=2.0, 1571957482000000000',
 'activity,location=eur fun=2.0, 1571957482000000000',
 'weather,type=None humidity=70.0, 1571958617000000000',
 'weather,location=us humidity=70.0, 1571958617000000000',
 'weather,type=None humidity=50.0, 1571958617000000000',
 'weather,location=us humidity=50.0, 1571958617000000000',
 'weather,type=None temperature=51.0, 1571958617000000000',
 'weather,location=eur temperature=51.0, 1571958617000000000',
 'activity,type=tennis fun_level=5.0, 1571958617000000000',
 'activity,location=us fun_level=5.0, 1571958617000000000',
 'activity,type=soccer fun_level=6.0, 1571958617000000000',
 'activity,location=us fun_level=6.0, 1571958617000000000',
 'activity,type=tag fun=2.0, 1571957482000000000',
 'activity,location=eur fun=2.0, 1571957482000000000',
 'weather,type=None temperature=51.0, 1571958617000000000',
 'weather,location=us temperature=51.0, 1571958617000000000',
 'activity,type=football fun_level=7.0, 1571958617000000000',
 'activity,location=us fun_level=7.0, 1571958617000000000',
 'activity,type=swimming fun=1.0, 1571957482000000000',
 'activity,location=us fun=1.0, 1571957482000000000',
 'activity,type=football fun_level=3.0, 1571958617000000000',
 'activity,location=eur fun_level=3.0, 1571958617000000000',
 'weather,type=None temperature=81.0, 1571957482000000000',
 'weather,location=us-midwest temperature=81.0, 1571957482000000000',
 'weather,type=None temperature=82.0, 1571957482000000000',
 'weather,location=us-east temperature=82.0, 1571957482000000000',
 'weather,type=None temperature=81.0, 1571958617000000000',
 'weather,location=eur temperature=81.0, 1571958617000000000',
 'activity,type=ballet fun_level=5.0, 1571958617000000000',
 'activity,location=eur fun_level=5.0, 1571958617000000000']

In [ ]:
from influxdb_client import InfluxDBClient, Point, WriteOptions
from influxdb_client.client.write_api import SYNCHRONOUS

_write_client = client.write_api(write_options=WriteOptions(batch_size=1000, 
                                                            flush_interval=10_000,
                                                            jitter_interval=2_000,
                                                            retry_interval=5_000))

_write_client.write("0498523df75cd000", "Org", lines)