In [10]:
import pandas as pd
import time
from datetime import datetime
from fbprophet import Prophet

In [59]:
from influxdb_client import InfluxDBClient, Point
from influxdb_client.client.write_api import SYNCHRONOUS
bucket = "04abb7992a07e000"
client = InfluxDBClient(url="http://localhost:9999", token="SVwyqngOyVUM7Ar0DB6nU2rA0il010F1r7wck1a24XF0JDfq15W1Xgz7FTAN3IQk8PkQH9KRoVkVg4hSxT1fIQ==", org="Org")
query_api = client.query_api()
write_api = client.write_api(write_options=SYNCHRONOUS)

In [94]:
query = 'from(bucket:"pandas ")' \
        ' |> range(start: -3h)'\
        ' |> filter(fn: (r) => r._measurement == "activity" or r._measurement == "weather")' \
        ' |> filter(fn: (r) => r.location == "eur" or r.location == "us")'
result = client.query_api().query(org="Org", query=query)

In [109]:
raw = []
record = []
for table in result:
    for record in table.records:
        raw.append((record.get_field(), record.get_value(), record.get_time()))
#         print(record.values["_time"], record.values["_field"]) 
        print(record)

FluxRecord() table: 0, {'result': '_result', 'table': 0, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 6.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'us', 'type': 'ballet'}
FluxRecord() table: 1, {'result': '_result', 'table': 1, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 8.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'eur', 'type': 'tennis'}
FluxRecord() table: 2, {'result': '_result', 'table': 2, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 9.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'eur', 'type': 'soccer'}
FluxRecord() table: 3, {'result': '_result', 'table': 3, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 81.0, '_field': 'temperature', '_measurement': 'weather', 'location': 'us', 'season': 'summer'}
FluxRecord() table: 4, {'result': '_result', 'table': 4, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 70.0, '_field': 'humidity', '_measurement': 'weather', 'location': 'eur', 'season': 'summer'}
FluxRecord() table: 5, {'result': '_result', 'table': 5, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 50.0, '_field': 'humidity', '_measurement': 'weather', 'location': 'eur', 'season': 'fall'}
FluxRecord() table: 6, {'result': '_result', 'table': 6, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 17, 51, 22, 76670, tzinfo=datetime.timezone.utc), '_value': 1.0, '_field': 'fun', '_measurement': 'activity', 'location': 'us', 'type': 'tag'}
FluxRecord() table: 7, {'result': '_result', 'table': 7, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 17, 51, 22, 76670, tzinfo=datetime.timezone.utc), '_value': 2.0, '_field': 'fun', '_measurement': 'activity', 'location': 'eur', 'type': 'swimming'}
FluxRecord() table: 8, {'result': '_result', 'table': 8, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 70.0, '_field': 'humidity', '_measurement': 'weather', 'location': 'us', 'season': 'summer'}
FluxRecord() table: 9, {'result': '_result', 'table': 9, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 50.0, '_field': 'humidity', '_measurement': 'weather', 'location': 'us', 'season': 'fall'}
FluxRecord() table: 10, {'result': '_result', 'table': 10, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 51.0, '_field': 'temperature', '_measurement': 'weather', 'location': 'eur', 'season': 'fall'}
FluxRecord() table: 11, {'result': '_result', 'table': 11, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 5.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'us', 'type': 'tennis'}
FluxRecord() table: 12, {'result': '_result', 'table': 12, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 6.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'us', 'type': 'soccer'}
FluxRecord() table: 13, {'result': '_result', 'table': 13, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 17, 51, 22, 76670, tzinfo=datetime.timezone.utc), '_value': 2.0, '_field': 'fun', '_measurement': 'activity', 'location': 'eur', 'type': 'tag'}
FluxRecord() table: 14, {'result': '_result', 'table': 14, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 51.0, '_field': 'temperature', '_measurement': 'weather', 'location': 'us', 'season': 'fall'}
FluxRecord() table: 15, {'result': '_result', 'table': 15, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 7.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'us', 'type': 'football'}
FluxRecord() table: 16, {'result': '_result', 'table': 16, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 17, 51, 22, 76670, tzinfo=datetime.timezone.utc), '_value': 1.0, '_field': 'fun', '_measurement': 'activity', 'location': 'us', 'type': 'swimming'}
FluxRecord() table: 17, {'result': '_result', 'table': 17, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 3.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'eur', 'type': 'football'}
FluxRecord() table: 18, {'result': '_result', 'table': 18, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 81.0, '_field': 'temperature', '_measurement': 'weather', 'location': 'eur', 'season': 'summer'}
FluxRecord() table: 19, {'result': '_result', 'table': 19, '_start': datetime.datetime(2019, 10, 24, 16, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_stop': datetime.datetime(2019, 10, 24, 19, 1, 20, 469741, tzinfo=datetime.timezone.utc), '_time': datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc), '_value': 5.0, '_field': 'fun_level', '_measurement': 'activity', 'location': 'eur', 'type': 'ballet'}

In [62]:
raw[0:5]

[('fun_level',
  6.0,
  datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc)),
 ('fun_level',
  8.0,
  datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc)),
 ('fun_level',
  9.0,
  datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc)),
 ('temperature',
  81.0,
  datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc)),
 ('humidity',
  70.0,
  datetime.datetime(2019, 10, 24, 18, 10, 17, 529757, tzinfo=datetime.timezone.utc))]

In [66]:
df=pd.DataFrame(raw, columns=['field','value','datetime'], index=None)
df['datetime'] = df['datetime'].values.astype('<M8[D]')
df.head()

         field  value   datetime
0    fun_level    6.0 2019-10-24
1    fun_level    8.0 2019-10-24
2    fun_level    9.0 2019-10-24
3  temperature   81.0 2019-10-24
4     humidity   70.0 2019-10-24

In [76]:
def get_dataframe(precision,query,org,):
    result = client.query_api().query(org="Org", query=query)
    raw = []
    for table in result:
        for record in table.records:
            raw.append((record.get_field(), record.get_value(), record.get_time()))
    df=pd.DataFrame(raw, columns=['field','value','datetime'], index=None)
    df['datetime'] = df['datetime'].values.astype('<M8[' + precision + ']')
    return df

In [80]:
get_dataframe('ns',query,"Org")

          field  value                   datetime
0     fun_level    6.0 2019-10-24 18:10:17.529757
1     fun_level    8.0 2019-10-24 18:10:17.529757
2     fun_level    9.0 2019-10-24 18:10:17.529757
3   temperature   81.0 2019-10-24 18:10:17.529757
4      humidity   70.0 2019-10-24 18:10:17.529757
5      humidity   50.0 2019-10-24 18:10:17.529757
6           fun    1.0 2019-10-24 17:51:22.076670
7           fun    2.0 2019-10-24 17:51:22.076670
8      humidity   70.0 2019-10-24 18:10:17.529757
9      humidity   50.0 2019-10-24 18:10:17.529757
10  temperature   51.0 2019-10-24 18:10:17.529757
11    fun_level    5.0 2019-10-24 18:10:17.529757
12    fun_level    6.0 2019-10-24 18:10:17.529757
13          fun    2.0 2019-10-24 17:51:22.076670
14  temperature   51.0 2019-10-24 18:10:17.529757
15    fun_level    7.0 2019-10-24 18:10:17.529757
16          fun    1.0 2019-10-24 17:51:22.076670
17    fun_level    3.0 2019-10-24 18:10:17.529757
18  temperature   81.0 2019-10-24 18:10:17.529757
19    fun_level    5.0 2019-10-24 18:10:17.529757